<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Simple Navbar | Inline-Block</title>

    <style type="text/CSS"></style>
    * {
        margin: 0;
        padding: 100px;
    }

    body {
      font-family: 'Trebuchet MS', 'Lucinda Sans Unicode', Arial, sans-serif;  
    }

    ul {
        /* remove all of the bullet points */
        list-style-type: none; 
        overflow: hidden; 
        bsckground-color: cornflowerblue; 
        /* inline block workaround for stacking boxes 
       zero out the font size of the parent element of the inline block elements
       to get rid of the inherent tiny space between letters
        */
        /* font-size: 0;  */
    }
/* descendant selector */
    li {
        /* li display black by default, we want them to share horizontal space so they can stack
        we do this with changing it to inline-block */
        display: inline-block; 
        font-size: 1rem; 
        width: 200px;
    }

    li a {
        display: block;
        text-align: center; 
        width: 100px;
        padding: 10px;
        /* remove default link styles */
        color: chartreuse;
        text-decoration: none;
    }

    .active {
        background-color: cornflowerblue; 
    }
/* hover is a pseudo class selector, it's a particular state of our anchor tags */
    li a:hover {
background-color: rgba(0,0,0, 0.2);
    }

  </head>
  <body>
    <header>
    <h1> Brand Name <h1>
      <nav>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li>
            <a
              class="active"
              href="#"
              >Link 2</a
            >
          </li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>